lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += javax.annotation.Nonnull
lombok.copyableAnnotations += javax.annotation.Nullable
lombok.copyableAnnotations += javax.annotation.CheckForNull
lombok.copyableAnnotations += javax.validation.constraints.NotNull
lombok.copyableAnnotations += javax.validation.constraints.NotEmpty
lombok.copyableAnnotations += javax.validation.constraints.NotBlank
lombok.copyableAnnotations += javax.validation.constraints.Size
lombok.copyableAnnotations += javax.validation.constraints.Min
lombok.copyableAnnotations += javax.validation.constraints.Max
lombok.copyableAnnotations += javax.validation.constraints.Email
lombok.copyableAnnotations += javax.validation.constraints.Pattern
lombok.copyableAnnotations += javax.validation.constraints.Positive
lombok.copyableAnnotations += javax.validation.constraints.PositiveOrZero
lombok.copyableAnnotations += javax.validation.constraints.Negative
lombok.copyableAnnotations += javax.validation.constraints.NegativeOrZero
lombok.copyableAnnotations += javax.validation.constraints.DecimalMin
lombok.copyableAnnotations += javax.validation.constraints.DecimalMax
lombok.copyableAnnotations += javax.validation.constraints.Digits
lombok.copyableAnnotations += javax.validation.constraints.Future
lombok.copyableAnnotations += javax.validation.constraints.FutureOrPresent
lombok.copyableAnnotations += javax.validation.constraints.Past
lombok.copyableAnnotations += javax.validation.constraints.PastOrPresent
lombok.copyableAnnotations += javax.validation.constraints.AssertTrue
lombok.copyableAnnotations += javax.validation.constraints.AssertFalse
lombok.copyableAnnotations += jakarta.validation.constraints.NotNull
lombok.copyableAnnotations += jakarta.validation.constraints.NotEmpty
lombok.copyableAnnotations += jakarta.validation.constraints.NotBlank
lombok.copyableAnnotations += jakarta.validation.constraints.Size
lombok.copyableAnnotations += jakarta.validation.constraints.Min
lombok.copyableAnnotations += jakarta.validation.constraints.Max
lombok.copyableAnnotations += jakarta.validation.constraints.Email
lombok.copyableAnnotations += jakarta.validation.constraints.Pattern
lombok.copyableAnnotations += jakarta.validation.constraints.Positive
lombok.copyableAnnotations += jakarta.validation.constraints.PositiveOrZero
lombok.copyableAnnotations += jakarta.validation.constraints.Negative
lombok.copyableAnnotations += jakarta.validation.constraints.NegativeOrZero
lombok.copyableAnnotations += jakarta.validation.constraints.DecimalMin
lombok.copyableAnnotations += jakarta.validation.constraints.DecimalMax
lombok.copyableAnnotations += jakarta.validation.constraints.Digits
lombok.copyableAnnotations += jakarta.validation.constraints.Future
lombok.copyableAnnotations += jakarta.validation.constraints.FutureOrPresent
lombok.copyableAnnotations += jakarta.validation.constraints.Past
lombok.copyableAnnotations += jakarta.validation.constraints.PastOrPresent
lombok.copyableAnnotations += jakarta.validation.constraints.AssertTrue
lombok.copyableAnnotations += jakarta.validation.constraints.AssertFalse
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonInclude
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonPropertyOrder
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonCreator
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonValue
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAlias
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonSetter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonGetter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAnyGetter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAnySetter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonUnwrapped
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonManagedReference
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonBackReference
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIdentityInfo
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIdentityReference
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonTypeInfo
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonSubTypes
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonTypeName
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonView
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFilter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonRootName
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAutoDetect
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnoreProperties
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnoreType
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonPropertyDescription
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonClassDescription
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAppend
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonNaming
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonEnumDefaultValue
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonMerge
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonKey
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.Schema
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.Parameter
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.Operation
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.responses.ApiResponse
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.responses.ApiResponses
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.tags.Tag
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.Hidden
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.SecurityRequirement
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.SecurityRequirements
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.servers.Server
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.servers.Servers
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.extensions.Extension
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.extensions.Extensions
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.ExternalDocumentation
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.OpenAPIDefinition
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.info.Info
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.info.Contact
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.info.License
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.callbacks.Callback
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.callbacks.Callbacks
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.enums.SecuritySchemeType
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.enums.SecuritySchemeIn
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.headers.Header
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.links.Link
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.links.LinkParameter
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.Content
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.Encoding
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.ExampleObject
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.ArraySchema
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.media.DiscriminatorMapping
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.parameters.RequestBody
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.SecurityScheme
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.SecuritySchemes
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.OAuthFlow
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.OAuthFlows
lombok.copyableAnnotations += io.swagger.v3.oas.annotations.security.OAuthScope
lombok.copyableAnnotations += org.mapstruct.Mapping
lombok.copyableAnnotations += org.mapstruct.Mappings
lombok.copyableAnnotations += org.mapstruct.MappingTarget
lombok.copyableAnnotations += org.mapstruct.Context
lombok.copyableAnnotations += org.mapstruct.InheritInverseConfiguration
lombok.copyableAnnotations += org.mapstruct.InheritConfiguration
lombok.copyableAnnotations += org.mapstruct.ValueMapping
lombok.copyableAnnotations += org.mapstruct.ValueMappings
lombok.copyableAnnotations += org.mapstruct.IterableMapping
lombok.copyableAnnotations += org.mapstruct.MapMapping
lombok.copyableAnnotations += org.mapstruct.BeanMapping
lombok.copyableAnnotations += org.mapstruct.Named
lombok.copyableAnnotations += org.mapstruct.Qualifier
lombok.copyableAnnotations += org.mapstruct.ObjectFactory
lombok.copyableAnnotations += org.mapstruct.BeforeMapping
lombok.copyableAnnotations += org.mapstruct.AfterMapping
lombok.copyableAnnotations += org.mapstruct.Condition
lombok.copyableAnnotations += org.mapstruct.ConditionStrategy
lombok.copyableAnnotations += org.mapstruct.SubclassMapping
lombok.copyableAnnotations += org.mapstruct.SubclassMappings
lombok.copyableAnnotations += org.mapstruct.DecoratedWith
lombok.copyableAnnotations += org.mapstruct.Mapper
lombok.copyableAnnotations += org.mapstruct.MapperConfig
lombok.copyableAnnotations += org.mapstruct.factory.Mappers
config.stopBubbling = true